@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dilobo-dark text-slate-100 font-sans antialiased;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-indigo-500;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
